{% extends 'base.html' %}

{% block title %}
<div class="d-flex p-3">
    <a href="{% url 'event_list' %}" class="btn btn-secondary btn-sm mb-3">
        <i class="bi bi-arrow-left"></i> Back to Events
    </a>
</div>

<div class="p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Event Detail</h1>
    <p class="fs-5 text-muted">Details of the selected event.</p>
</div>
{% endblock %}


{% block content %} 
<form>
  <div class="form-group">
    <label class="fw-bold">Title</label>
    <p class="ps-2">{{ event.title }} </p>
  </div>

  <div class="form-group">  
    <label class="fw-bold">Description</label>
    <p class="ps-2">{{ event.description }} </p>
  </div>

  <div class="form-group">  
    <label class="fw-bold">Category</label>
    <p class="ps-2">{{ event.category.name }}</p>
  </div>

  <div class="form-group">  
    <label class="fw-bold">Datetime</label>
    <p class="ps-2">{{ event.start_datetime | date:"d/m/Y H:i" }} - {{ event.end_datetime | date:"d/m/Y H:i" }}</p>
  </div>

  <div class="form-group">  
    <label class="fw-bold">Location</label>
    <p class="ps-2">{{ event.location }}</p>
  </div>

  <div class="form-group">  
    <label class="fw-bold">Contact</label>
    <p class="ps-2">{{ event.contact_name }} <br/> {{ event.contact_email }}</p>
  </div>
 
</form>
{% endblock %}